*{
  margin: 0;
  padding: 0;

}
.wrap{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../img/img12.jpg);
  background-size: cover;
  position: absolute;
}
.form-box{
  width: 380px;
  height:480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding:5px;
}
.form-btn{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;

}
.t-btn{
  padding: 10px 30px ;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn{
  left: 0;
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,#ff105f,#ffad06);
  border-radius: 15px;
  transition: .5s;
}
